.todo_item-container{
    display: flex;
    flex-direction: column;
}

.todo_item{
    display:flex;
    width: 750px;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(18, 22, 18);
    border: none;
    overflow: hidden;
    
    font-size: 35px;
}
.todo_item{
    color: white;
}
.todo_item-left{
    display:flex;
    align-items: center;
}
.todo_item-left input{
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: none;
    border-radius: 2px;
    margin-right: 1rem;
}
/* .todo_element button{
    width: 2px;
    height: 2px;
    font-size: 100%;
} */
 .todos_space{
    width: 0.5rem;
 }
.todo_item button{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    position: relative;
    padding-bottom: 2px;
    border:solid 2px;
    border-color: black;
}
.todo_item-right button{
    background-color: orange;
    width: 3rem;
    height: 4rem;
    padding: 0px;
    margin: 0px;
    position: relative;
    padding-bottom: 2px;
    border:none;
    border-radius: 0;
    font-size: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#delete:hover{
    width: 5rem;
}
#edit:hover{
    width: 5rem;
}