
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1{
    color: chartreuse;
}
.user_field{
    justify-content: center;
    border: 2px solid;
    padding: 2rem 0 2rem 0;
    width: 800px;
}
.user_field label{
    margin-right: 10px;
    font-weight:  700;
    font-size: larger;
    display: inline-block;
    min-width: 100px
}
.user_field input{
    margin-bottom: 5px;
    zoom: 2;
}